.skip-link {
	visibility: hidden;
	position: absolute;
	left: -9999px;
	overflow: hidden;
}

.wp-block-cover,
.wp-block-cover-image {
	position: relative;
	background-size: cover;
	background-position: 50%;
	min-height: 430px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	box-sizing: border-box;
}

.wp-block-cover-image.has-background-dim:not(.has-background-gradient):before,
.wp-block-cover-image .wp-block-cover__background,
.wp-block-cover-image .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim:not(.has-background-gradient):before,
.wp-block-cover .wp-block-cover__background,
.wp-block-cover .wp-block-cover__gradient-background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	opacity: 0.5;
}

.wp-block-cover-image
	.wp-block-cover__background.has-background-dim.has-background-dim-100,
.wp-block-cover-image
	.wp-block-cover__gradient-background.has-background-dim.has-background-dim-100,
.wp-block-cover
	.wp-block-cover__background.has-background-dim.has-background-dim-100,
.wp-block-cover
	.wp-block-cover__gradient-background.has-background-dim.has-background-dim-100 {
	opacity: 1;
}

.wp-block-cover-image img.wp-block-cover__image-background,
.wp-block-cover-image video.wp-block-cover__video-background,
.wp-block-cover img.wp-block-cover__image-background,
.wp-block-cover video.wp-block-cover__video-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;
	-o-object-fit: cover;
	object-fit: cover;
	outline: none;
	border: none;
	box-shadow: none;
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
	width: 100%;
	z-index: 1;
	color: #fff;
}
