@font-face {
    font-family: 'MonumentExtended';
    src: url('MonumentExtended-Ultralight.eot') format('eot'),
        url('MonumentExtended-Ultralight.woff') format('woff'),
        url('MonumentExtended-Ultralight.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentExtended';
    src: url('MonumentExtended-Light.eot') format('eot'),
        url('MonumentExtended-Light.woff') format('woff'),
        url('MonumentExtended-Light.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentExtended';
    src: url('MonumentExtended-Regular.eot') format('eot'),
        url('MonumentExtended-Regular.woff') format('woff'),
        url('MonumentExtended-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentExtended';
    src: url('MonumentExtended-Bold.eot') format('eot'),
        url('MonumentExtended-Bold.woff') format('woff'),
        url('MonumentExtended-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}