:root {
	--global-column: 120px;
	--global-gap: 40px;
}

@mixin monument-extanded {
	font-family: "MonumentExtended", "Noto Sans KR", sans-serif;
}

@mixin noto-sans-kr {
	font-family: "Noto Sans KR", sans-serif;
}

@mixin color-editor($color, $background-color) {
	background-color: $background-color;
	color: $color;
}

@function calc-width($num) {
	@return calc(var(--global-column) * $num + var(--global-gap) * ($num - 1));
}

@function calc-height($value) {
	@return calc(var(--vh, 1vh) * $value);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	letter-spacing: -0.025em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
li,
span,
tr,
td,
pre {
	font-weight: inherit;
	font-size: inherit;
}

.header {
	&--banner {
		position: fixed;
		display: none;
	}
}

.footer {
	&--content-nav {
		display: none;
	}

	&--contentinfo {
		text-align: center;
		color: #cbcbcb;
		width: 100%;
		padding: 4em 0;
		background-color: #303030;
	}
	&__logotype {
		height: 5em;
		margin: 0 auto 2em;
	}

	&__copyright {
		font-size: 0.8em;
		letter-spacing: 0.5em;
		opacity: 0.9;
	}
}

.color-guide {
	display: flex;
	flex-wrap: nowrap;
	gap: 0;
	height: 90vh;

	&__list {
		display: flex;
		flex-direction: column;
		&--main {
			flex: 1 0 70%;
		}
		&--grayscale {
			flex: 0 0 30%;
		}
		&--inner {
			flex-shrink: 2;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
		}
	}
}

.color-chip {
	width: 100%;
	height: 100%;
	padding: 24px;
	padding-bottom: 36px;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	&__title {
		margin: 0 0 0.5em 0;
		font-size: 1.25em;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__list {
		line-height: 1.7;
	}
	&__type {
		float: left;
		&::after {
			content: "\0020\9";
			white-space: pre;
		}
	}
	&__value {
		text-transform: uppercase;
	}
}

// custom pattern stylesheet
.studio-baang {
	&-cover {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: calc(var(--vh, 1vh) * 100);
		max-height: 1440px;
		overflow: hidden;
		&__background-color {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 1;
			&--with-image {
				opacity: 0.5;
			}
		}
		&__image {
			&--cover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				pointer-events: none;
			}
			&--logo {
				width: calc-width(3);
				z-index: 1;
			}
		}
		&__copyright {
			position: absolute;
			bottom: 1em;
			@include monument-extanded();
			color: #ffffff;
			font-weight: 100;
			mix-blend-mode: exclusion;
			z-index: 1;
		}
	}
	&-composition {
		position: relative;
		padding: 130px 0 140px;
		& > .wp-block-group__inner-container {
			display: flex;
			flex-direction: column;
			gap: 1.5em 0;
			width: calc-width(8);
			margin: 0 auto;
		}
		&__title {
			@include monument-extanded();
			font-weight: 100;
			font-size: 24px;
			letter-spacing: -0.01em;
			.wp-block-group__inner-container {
				overflow: hidden;
			}
			&--float-both {
				position: absolute;
			}
		}
		&__description {
			@include noto-sans-kr;
			font-size: 20px;
			line-height: 2em;
			letter-spacing: -0.025em;
			word-break: keep-all;
			.wp-block-group__inner-container > * {
				margin-bottom: 2em;
				&:last-child {
					margin-bottom: 0;
				}
			}
			p,
			ol,
			ul,
			span {
				width: calc-width(6);
			}
			ol,
			ul {
				font-weight: 700;
			}
			&--float-both {
				margin-left: auto;
				width: calc-width(4);
			}
		}
	}
	&-gallery {
		--wp--style--gallery-gap-default: calc-height(50) 0;
		width: calc-width(10);
		margin: 0 auto;
		padding: 140px 0;
		overflow: hidden;
		.wp-block-image {
			width: calc-width(8);
			&.size-full {
				width: 100%;
			}
			&:nth-of-type(2n) {
				margin-left: auto;
				& > img {
					margin-left: auto;
				}
			}
		}
	}
	&-variation {
		.wp-block-group__inner-container {
			display: grid;
			grid: auto / repeat(6, 1fr);
			min-height: calc(var(--vh, 1vh) * 100);
			max-height: 1440px;
			& > div {
				&:first-of-type {
					grid-row: 1 / fill;
					grid-column: 1 / 5;
				}
				&:nth-of-type(2),
				&:nth-of-type(3) {
					grid-column: 5 / fill;
				}
			}
		}
		.wp-block-image {
			width: 25%;
			margin: 0 auto;
		}
	}
}

@media screen and (max-width: 640px) {
	:root {
		--global-column: 10.2803vw;
		--global-gap: 4.6728vw;
	}

	.studio-baang {
		&-cover {
			&__image {
				&--logo {
					width: calc-width(4);
				}
			}
		}
		&-composition {
			padding: 60px 0;
			& > .wp-block-group__inner-container {
				width: calc-width(6);
			}
			&__title {
				&--float-both {
					position: relative;
				}
			}
			&__description {
				width: 100%;
				font-size: 12px;
				&--float-bot {
					margin: 0;
				}
			}
		}
		&-variation {
			.wp-block-cover {
				min-height: 0;
			}
			.wp-block-group__inner-container {
				grid: 60% / repeat(auto-fit, minmax(34%, 1fr));
				min-height: calc-height(75);
				& > div {
					&:first-of-type {
						grid-column: 1 / fill;
						grid-row: auto;
					}
					&:nth-of-type(2),
					&:nth-of-type(3) {
						grid-column: auto;
						grid-row: auto;
					}
				}
			}
		}
		&-gallery {
			--wp--style--gallery-gap-default: calc-height(20) 0;
			width: calc-width(6);
			margin: 0 auto;
			padding: 80px 0;
			overflow: hidden;
			.wp-block-image {
				width: calc-width(5);
			}
		}
	}

	.footer__logotype {
		height: 4em;
	}
}
